.fixed-size-square {
  display: inline-table;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #4679BD;
}
.dayOfTheWeek{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.dayOfTheWeek div{
  height: 30px !important;
}
.fixed-size-square span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white
}
.weekend{
  background: yellow !important;
}
.weekday{
  background: green !important;
}
.holiday{
  background: orange !important;
}
.invalid-days{
  background: grey !important;
}
.invalid-days span{
  color: grey !important;
}
